.checkout{
   padding: 10px;
   height: max-content;
   display: flex;
}

.checkout__right{
    padding-left: 10px;
}

.checkout__ad{
    display: flex;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.checkout__title{
    padding-bottom: 20px;
    border-bottom: solid 1px lightgray;
}