.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    justify-content: flex-end;
    background-color: white;
    z-index: 1;
    padding: 20px;
    align-items: center;
    width: 100%;
}


.product__rating{
    display: flex;
}

.product>img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
}

.product > button{
    width: 100px;
    background-color:#d7a44f;
    color: black;
    
}

